.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-option:hover {
  background-color: var(--twitter-sidebar-hover-background);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebar-option > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebar-option > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebar-active-option {
  color: var(--twitter-color);
}

@media (max-width: 768px) {
  .sidebar-option {
    display: block;
  }

  .sidebar-option > h2 {
    display: none;
  }
}
